.button {
    background: linear-gradient(90deg, #FF4A3F 0%, #F05509 100%);
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    font-weight: 800;
    font-size: 18px;
    line-height: 20px;
    border: none;
    cursor: pointer;
    color: #ffffff;
}