.safety {
    padding: 14px 0;
    background-color: #0070AF;
    position: relative;
    z-index: 10;
    &__text {
        text-align: center;
        color: #fff;
        font-weight: 900;
        font-size: 18px;
        line-height: 22px;
    }
}